		<div id="about_header" data-role="header"  data-position="fixed" class="general_header">
	<div id="header_container" style="width:100%; text-align: center;">
		<img src="img/about.png" class="header-icon" style="margin-right: 0em; margin-left:1em;"/>
		<h2 style="display:inline !important;">About Quesity</h2>
	</div>
	</div>
	
	<div id="about-content" data-role="content" style="padding: 0px; height:100%;" class='find-quest-content' data-iscroll>
		<div style="padding-right:1em; padding-left:1em; height:103%; width:100%; background: url('img/main_screen.png') top left no-repeat; background-size: 100% 100%; position:fixed; opacity: 0.1;">
		</div>
	<div style="padding-left:1em; padding-right: 1em;">
		<p style="text-align: center;" dir="rtl">&nbsp;</p>
		<p style="text-align: right;" dir="rtl"><span style="color: #000000; font-size: x-large;"><span style="color: #000000; font-size: x-large;"><em>Quesity</em> היא למעשה מאגר של סיורים בערים גדולות. המשתמש יכול לבחור לעצמו סיור מבין מגוון הסיורים המוצעים ולהתחיל לטייל בעיר.</span></span></p>
		<br/>
		<p style="text-align: right;" dir="rtl"><strong><span style="color: #000000; font-size: x-large;"><span style="color: #000000; font-size: x-large;">וזהו?</span></span></strong></p>
		<p style="text-align: right;" dir="rtl"><span style="color: #000000; font-size: x-large;"><span style="color: #000000; font-size: x-large;">לא! כל סיור שכזה הוא גם <em><span style="color: #000000; font-size: x-large;">סיפור</span></em> וגם <em><span style="color: #000000; font-size: x-large;">משחק</span></em>. תוך כדי הסיור, המשתמש נחשף לעלילת הסיפור כשבדרך הוא עומד באתגרים ופותר חידות. זו דרך חדשה ומעניינת להכיר את העיר.</span></span></p>
		<br/>
		<p style="text-align: right;" dir="rtl"><strong><span style="color: #000000; font-size: x-large;">אז זה סיור או משחק?</span></strong></p>
		<p style="text-align: right;" dir="rtl"><span style="color: #000000; font-size: x-large;">גם וגם. זהו <em>Quest</em>!</span></p>
		<br/>
		<p style="text-align: right;" dir="rtl"><strong><span style="color: #000000; font-size: x-large;">וזהו?</span></strong></p>
		<p style="text-align: right;" dir="rtl"><span style="color: #000000; font-size: x-large;">לא! בעתיד <em>Quesity</em> תאפשר שימוש פתוח בתוכנת עריכת ה - <em>Quest</em>ים כך שכל אחד יוכל להיות יוצר של <em>Quest</em>. אדם יוכל ליצור סיור במיוחד עבור חבריו, פעילות עבור מקום עבודתו או פשוט טיול מעניין לקהל הרחב.</span></p>
		<br/>
		<p style="text-align: right;" dir="rtl"><strong><span style="color: #000000; font-size: x-large;">נשמע מעניין...</span></strong></p>
		<p style="text-align: right;" dir="rtl"><span style="color: #000000; font-size: x-large;">תודה :) <br/>
			 אז לא לשכוח:&nbsp;<em><strong>Quesity</strong> -</em>&nbsp;לחיות את הסיפור.</span></p>
		<br/>
		<p style="text-align: right;" dir="rtl"><span style="color: #000000; font-size: x-large;"><strong><span style="color: #000000; font-size: x-large;">וזהו?</span></strong></span></p>
		<p style="text-align: right;" dir="rtl"><span style="color: #000000; font-size: x-large;">כן!</span>&nbsp;</p>
		<br/>
	</div>
	</div>