<div id="general_tooltip" data-role="popup" data-transition="fade" class="general_tooltip_style confirmation_dialog" data-overlay-theme="a">
	<div data-role="header"><h3>Exit</h3></div>
	<div data-role="content" style="padding:1em;">
	<span id="confirmation_message"><%= message %></span>
	<table>
		<tr>
			<td>
				<a data-role="button" id="btn_yes" class="popup-btn-2">Yes</a>
			</td>
			<td>
				<a data-role="button" id="btn_no" class="popup-btn-2">No</a>		
			</td>
		</tr>
	</table>
		
	</div>
</div>