<div id="general_tooltip" data-role="popup" data-transition="fade" class="general_tooltip_style confirmation_dialog" data-overlay-theme="a">
	<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-left close-btn">Close</a>
	<div data-role="header"><h3>Menu</h3></div>
	<div data-role="content">
	<ul data-role="listview" data-inset="false" id="list_game_menu">
    <li id="li_show_map"><a href="#">
        <img src="img/show_map.png">
    <h2>Show Map</h2>
    <p>Lost ah?</p></a>
    </li>

    <li id="li_exit"><a href="#">
        <img src="img/exit_icon.png">
    <h2>Leave Quest</h2>
    <p>Please don't go... :(</p></a>
    </li>
</ul>
</div>
</div>