    <div id="clouds_div">
	</div>
	<div id="logo_div">
	</div>

	<div id="header"><h1 style="text-align:center;"></h1></div>
	<div id="menu_buttons">	
		<a id="btn_find_quest"  href="#find_quests" class='main-menu-btn' data-role="button" data-icon="quesity-search">Find Quests</a>
		<a id="btn_my_quests" href="#my_quests" data-role="button" class="main-menu-btn" data-icon="quesity-my_quests"> My Quests</a>
		<a id="btn_about" href="#about" class='main-menu-btn' data-role="button" data-icon="quesity-about">About Quesity</a>
	</div>
