<div id="login_page">
	<div id="clouds_div">
	</div>
	<div id="logo_div">
	</div>

	<div id="buildings_div">

	</div>

	<div id="facebook_login_div">
	</div>

	<table style="z-index: 111111; position: relative; 	margin-left: auto; margin-right: auto;">
		<tr>
			<td>Email: </td>
			<td><input type="text" id="email"/></td>
		</tr>
		<tr>
			<td>Password: </td>
			<td><input type="password" id="password"/></td>
		</tr>
		<tr>
			<td colspan=2><button data-role="button" id="submit_btn">Login</button></td>
		</tr>
	</table>

</div>
