<div id="general_tooltip" data-role="popup" data-transition="fade" class="general_tooltip_style confirmation_dialog" data-overlay-theme="a">
	<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-left close-btn">Close</a>
	<div data-role="header"><h3><%= title %></h3></div>
	<div data-role="content" style="padding:1em;">
	<span id="ok_only_message"><%= message %></span>
		<a data-role="button" id="btn_ok" class="popup-btn">OK</a>		
		
	</div>
</div>