<div id="open_question_dialon" data-role="popup" data-transition="fade" class="general_tooltip_style confirmation_dialog" data-overlay-theme="a">
	<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-left close-btn">Close</a>
	<div data-role="header"><h3>Answer</h3></div>
	<div data-role="content" style="padding:1em;">
		<div style="font-size:xx-large !important;">Enter your answer:</div>	
	<input type="text" id="txt_answer" style="font-size:xx-large;"/>
	
	<table>
		<tr>
			<td>
				<a data-role="button" id="open_question_ok_btn" class="popup-btn-2">OK</a>
			</td>
			<td>
				<a data-role="button" id="open_question_close_btn" class="popup-btn-2">Cancel</a>		
			</td>
		</tr>
	</table>
	
	</div>
</div>