	<div id="quest_properties_header" data-role="header"  data-position="fixed" class="general_header">
	<div id="header_container" style="width:100%; text-align: center;">
		<h2 style="display:inline !important;"><%= title %></h2>
		<img src="css/images/icons-png/book-empty.png" class="header-icon" style="width:1em !important;"/>
	</div>
	</div>
	<div id="find_quest_content" data-role="content" style="padding: 0px;" class='find-quest-content' data-iscroll>
		<div id='slider' class='swipe'>
		  <div class='swipe-wrap' style="text-align: center;">
		  	<%
		  	if (images && images.length > 1) {
		  		for (var i=1; i<images.length; ++i){
		  	%>
		
		    <div><img src="<%= images[i] %>" style="width:100%;"/></div>
		    <% }
		    } else {%>
		    <div><img src="img/no_image_found.jpg" style="width:100%;"/></div>
			<%}%>
		  </div>
		</div>    	
		<table id="inner-page-quest-data">
			<tr>
				<td style="width: 45%;">
					<img src="img/star-full.png" class="rating-stars"/>
	 				<img src="img/star-full.png" class="rating-stars"/>
	 				<img src="img/star-full.png" class="rating-stars"/>
	 				<img src="img/star-full.png" class="rating-stars"/>
	 				<img src="img/star-full.png" class="rating-stars"/>
	 				<img src="img/star-full.png" class="rating-stars"/>
	 				<img src="img/star-full.png" class="rating-stars"/>(7)
				</td>
				<td rowspan="3">
					<% if (tags && tags.length > 0) { 
						for(var i=0; i<tags.length; ++i) {
					%>
					
					<span class='quest-tag-wrapper'><img src="img/tag-left.png"/><span class="quest-tag">
						<%= tags[i] %>
					</span></span>
					<% } 
					   } %>
				</td>
			</tr>
			<tr>
				<td>
					2h/8Km
				</td>
			</tr>
			<tr>
				<td>
					1233 Played
				</td>
			</tr>
		</table>

		<div id="collapsibles">
		<div data-role="collapsible" data-inset="false" data-iconpos="right" id="properties_starting_location">
			<h4><img src="img/start-point.png"/> Starting Point</h4>
			<img src="img/map_example.png" style="width: 100%;"/>
		</div>
		<div data-role="collapsible" data-inset="false" data-iconpos="right">
			<h4> <img src="img/desc.png"/>Description</h4>
			<p dir="rtl" style="padding-right:1em;"><%= description %></p>
		</div>
		<div data-role="collapsible" data-inset="false" data-iconpos="right">
			<h4><img src="img/reviews.png"/> Reviews</h4>
			<p>N/A</p>
		</div>
		</div>
		
		<a href="#quest/<%= _id %>/start" data-role="button" id="btn_play">Play</a>

	</div>
