<a href="#quest/<%=_id %>/details" class="list-bg">
	<img src="<% if (images && images.length > 0){%><%= images[0] %><%}else{%>img/no_image_found.jpg<%}%>" class="circular"/>
	 <div style="margin-left:1.5em;"><h2><%= title %></h2>
	 <p>

	<% if (rating) {
	for(var i=0; i<Math.floor(rating); ++i) {%>
	<img src="img/star-full.png" class="rating-stars"/>
	<%}
	var reminder = rating - Math.floor(rating);
	if (reminder >= 0.5 ) {%>
	<img src="img/star-half.png" class="rating-stars"/>
	<%}
	var empty_stars = Math.round(7 - rating);
	for(var i=0; i<empty_stars; i++){%>
		<img src="img/star-empty.png" class="rating-stars"/>
	<%}%><span id="rating_number">(<%=rating%>)</span>
	<%}%>
	 	
	 	<table id="quest-data">
	 		<tr>
	 			<td><%=distance%></td>
	 			<% var time_num = parseInt(time);
	 			var h = Math.floor(time_num/60);
	 			var m = time_num%60;
	 			if ( m < 10 )
	 				m = '0'+m
	 			var time_formatted = h + ':' + m; %>
	 			<td><%=time_formatted%></td>
	 			<td><%= games_played %></td>
	 		</tr>
	 		<tr>
	 			<td>Km</td>
	 			<td>Hours</td>
	 			<td>Played</td>
	 		</tr>
	 	</table>
	 </p></div></a>
	 <a href="#" id='btn_bookmark' data-icon=
	 <% if (bookmarked) { %>
	 "quesity-book-full"	
	 <%} else { %>
	 "quesity-book-empty"
	 <%}%>
	 >Bookmark</a>
